<h1><%= @transaction.reason %></h1>
<p>Дата операции: <%= @transaction.date %></p>
<p>Сумма: <%= @transaction.sum %></p>
<p>Расходы: <%= @transaction.reason %></p>
<p>Номер счета: <%= @transaction.expense_id %></p>
