<h1><%= @transaction.transaction_number %></h1>
<p>Дата операции: <%= @transaction.data %></p>
<p>Сумма: <%= @transaction.sum %></p>
<p>Расходы: <%= @transaction.reason %></p>
<p>Номер счета: <%= @transaction.expense_id %></p>
