<h1><%= @expense.expense_name %></h1>
<p>Имя счета: <%= @expense.expense_name %></p>
<p>Email: <%= @expense.user_id %></p>
<p>Тип счета: <%= @expense.expense_type %></p>
<p>Валюта: <%= @expense.currency %></p>
